.about {
  min-height: 100vh;
  background-color: #cfd0c3;
  padding: 70px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr auto;
}

.name {
  grid-column: 1;
  grid-row: 3;

  color: #1c775a;
  font-family: Medium;
  font-size: 65px;
  line-height: 0.8em;
}

.title {
  grid-column: 2;
  grid-row: 1;

  color: #0b2027;
  font-family: Regular;
  font-size: 21px;

  padding-bottom: 50px;
}

.text {
  grid-column: 2;
  grid-row: 2;

  color: #0b2027;
  font-family: Light;
  font-size: 18px;
}

.para {
  padding-bottom: 20px;
}
