.container {
  padding: 20px 70px 70px;
  background-color: #1c775a;
}

.title h2 {
  text-align: center;
  font-family: Light;
  font-size: 18px;
  color: #cfd0c3;
  padding: 20px;
  margin-bottom: 20px;
}

.logo img {
  width: 150px;
  border: 1px solid #cfd0c3;
  padding: 10px 15px;
  margin: 10px;
}
