.container {
  padding: 70px 30px;
  background-color: #222;

  color: #cfd0c3;
  font-family: Bold;
}

.category {
  font-size: 30px;
}

.product {
  margin: 30px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
